@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.searchBar {
    max-width: 584px;
}

.searchInput {
    max-width: 584px;
}